In [1]:
import pandas as pd

df1 = pd.read_csv('./title/shinhan_bank_news.csv')
df2 = pd.read_csv('./title/shinhan_bank_report_data.csv')
df3 = pd.read_csv('./title/shinhan_bank_security_news.csv')
df4 = pd.read_csv('./title/shinhan_notice.csv')
df5 = pd.read_csv('./title/shinhanplay_event.csv')

In [2]:
df = pd.concat([df1, df2, df3, df4, df5])

In [3]:
df

                            title
0                 수신상품 기본금리 변경 안내
1                 전산 시스템 개선 작업 안내
2                    전산 시스템 작업 안내
3                       영업점 통합 안내
4          오픈뱅킹 서비스 일부 제공기관 중단 안내
...                           ...
3539      3월 듀오 미팅파티 Love Blossom
3540     올댓여행 부킹닷컴 마이신한포인트 8% 적립!
3541                클락 해외 골프여행 특가
3542             신한카드와 함께 키스해링전을!
3543  신한 Mastercard 해외호텔 예약 특별이벤트

[10076 rows x 1 columns]

In [4]:
df.to_csv('shinhan_all.csv', index=False)